.header {
	min-height: 80px;
	display: flex;
	background-color: $whiteColor;
	padding: 10px 0;
	border-bottom: 1px solid #BDBDBD;

	.container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

	}

	&__logo {
		position: relative;
		z-index: 10;
		max-width: 120px;
		height: unset;
		margin-right: 10px;
	}

	&__nav {

		.menu-button {
			display: none;
		}

		.menu {
			display: flex;
		}
	}

	&__callback {
		display: flex;

	}

	&--menu-active {
		.header__nav {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 9;
			background-color: $whiteColor;
			padding: 80px 15px 30px;

			.menu-button {

				&__item {
					&:nth-of-type(1) {
						transform: translateX(-200%);
					}

					&:nth-of-type(2) {
						transform: rotate(45deg) translateY(-50%);
						transform-origin: center;
					}

					&:nth-of-type(3) {
						transform: rotate(-45deg);
						transform-origin: center;
					}

					&:nth-of-type(4) {
						transform: translateX(200%);
					}
				}
			}

			.menu {
				display: flex;

				&__item {
					a {
						font-size: 24px;
					}
				}
			}
		}

		.header__callback {
			display: flex;
			position: absolute;
			top: 350px;
			left: 50%;
			transform: translate(-50%);
			z-index: 50;
		}
	}
}