.menu {
	display: flex;
	flex-direction: row;
	align-items: center;

	&__item {
		margin-bottom: 0;
		margin-right: 30px;

		&:not(:last-child) {
			margin-bottom: 0;

		}

		&:last-child {
			margin-right: 0;
		}

	}
}